<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link href="../../resources/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="../../resources/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../resources/bootstrap-3.3.7/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <style type="text/css" media="screen">
        body {
            padding-top: 100px;
        }
    </style>
</head>

<body>
<!-- 首页导航Bar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="">Project name</a>
        </div>
    </div>
</nav>
<!-- 主体 -->
<div class="container-fluid">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-form navbar-left">
                <div class="form-group">
                    <a class="btn btn-default" href="/main" role="button">返回首页</a>
                </div>
            </div>
        </nav>
        <div class="jumbotron">
            <button class="btn btn-danger" id="testExceptionHandler">测试@ExceptionHandler</button>
            <br><br>
            <button class="btn btn-danger" id="testResponseStatus">测试@ResponseStatus</button>
            <button class="btn btn-danger" id="testResponseStatus2">测试@ResponseStatus2</button>
            <br><br>
            <button class="btn btn-danger" id="testHandlerExceptionResolver">测试HandlerExceptionResolver</button>
            <button class="btn btn-danger" id="testControllerAdvice">测试ControllerAdvice</button>

        </div>
        <div class="well well-lg" id="responseData"></div>
    </div>
</div>
</body>
<script type="text/javascript">
    $('#testExceptionHandler').click(function (event) {
        $.ajax({
            url: '/demo7/testExceptionHandler',
            type: 'GET',
            success: function (data) {
                $('#responseData').html(JSON.stringify(data));
            }
        }).done(function () {
            console.log("success");
        }).fail(function () {
            console.log("error");
        }).always(function () {
            console.log("complete");
        });
    });
    $('#testResponseStatus').click(function (event) {
        $.ajax({
            url: '/demo7/testResponseStatus',
            type: 'GET',
            success: function (data) {
                $('#responseData').html(JSON.stringify(data));
            }
        }).done(function () {
            console.log("success");
        }).fail(function () {
            console.log("error");
        }).always(function () {
            console.log("complete");
        });
    });

    $('#testResponseStatus2').click(function (event) {
        $.ajax({
            url: '/demo7/testResponseStatus2',
            type: 'GET',
            success: function (data) {
                $('#responseData').html(JSON.stringify(data));
            }
        }).done(function () {
            console.log("success");
        }).fail(function () {
            console.log("error");
        }).always(function () {
            console.log("complete");
        });
    });

    $('#testHandlerExceptionResolver').click(function (event) {
        $.ajax({
            url: '/demo7/testHandlerExceptionResolver',
            type: 'GET',
            success: function (data) {
                $('#responseData').html(JSON.stringify(data));
            }
        }).done(function () {
            console.log("success");
        }).fail(function () {
            console.log("error");
        }).always(function () {
            console.log("complete");
        });
    });

    $('#testControllerAdvice').click(function (event) {
        $.ajax({
            url: '/demo7/testControllerAdvice',
            type: 'POST',
            success: function (data) {
                $('#responseData').html(JSON.stringify(data));
            }
        }).done(function () {
            console.log("success");
        }).fail(function () {
            console.log("error");
        }).always(function () {
            console.log("complete");
        });
    });
</script>
<script type="text/javascript" color="255,0,0" opacity='0.7' count='200'
        src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>

</html>